# Ignorar archivos binarios y ejecutables
*.exe
*.dll
*.out
*.o
*.a
*.so
*.class
*.jar
*.war
*.ear

# Ignorar carpetas de compilación
/build/
/dist/
/target/
/bin/
/out/

# Ignorar archivos de configuración de NetBeans
**/nbproject/private/
**/nbproject/build-impl.xml
**/nbproject/genfiles.properties
**/nbproject/project.properties
**/nbproject/project.xml

# Ignorar archivos de configuración de IntelliJ IDEA
**/.idea/
*.iml
*.ipr
*.iws

# Ignorar archivos de configuración de VS Code
**/.vscode/
**/.vscode/settings.json

# Ignorar archivos temporales y de respaldo
*.log
*.tmp
*.swp
*.bak
*.cache
.DS_Store
Thumbs.db
